html,
body {
    height: 100%;
}

.intro {
    height: 100%;
    margin-top: -20px;
    padding: 0;
    background: url(../img/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer.page-footer {
    margin-top: 0;
}

