html,
body {
    height: 100%;
}

.intro {
    height: 100%;
    margin-top: -20px;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer.page-footer {
    margin-top: 0;
}

.btn-file
{
    position: relative;
    overflow: hidden;
    color: white;
    background-color: #2bbbad;
}

.btn-file:hover, .btn-file:focus
{
    color: white;
}

.btn-file input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.drop_zone
{
    color: graytext;
}


